.About {
  margin: 20px 0px;
}
.About .Header {
  grid-column: 1/ 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-rows: repeat(4, 1fr);
}
.About .Header .grid-img {
  max-height: calc(190px + 54px);
  grid-row: 1 / 5;
}
.About .Header .SubText {
  grid-column: 1/ 2;
}
.About .Header .top {
  margin-right: 1rem;
}
.About .list-style {
  margin-top: 0.8rem;
  line-height: 1.6rem;
  line-height: normal;
}
.About .list-style strong {
  font-weight: 600;
}
.About .list-style div {
  width: 75%;
}
.About .path-date {
  text-align: end;
  font-weight: 100;
  margin-bottom: 0.4em;
}
.About .path-degree {
  font-weight: 500;
}
.About .path-place {
  color: var(--third-color);
  font-size: 0.9em;
  line-height: 0.8px;
}

@media (max-width: 280px) {
  .About .Header {
    display: block;
  }
  .About .Header .SubText {
    display: none;
  }
}
