.About {
  margin: 20px 20px;
}

.About .title-img {
  grid-column: 2/ 4;
  grid-row: 3;
  text-align: center;
}

.About .list-style {
  margin-top: 0.8rem;
  line-height: 1.6rem;
  line-height: normal;
}
.About .list-style strong {
  font-weight: 600;
}
.About .list-style div {
  width: 75%;
}
.About .path-date {
  text-align: end;
  font-weight: 100;
  margin-bottom: 0.4em;
}
.About .path-degree {
  font-weight: 500;
}
.About .path-place {
  color: var(--third-color);
  font-size: 0.9em;
  line-height: 0.8px;
}
