.Projects {
  margin: 20px 20px;
}
.Projects .subtext-grid {
  grid-column: 1/ 2;
  grid-row: 2/ 3;
}
.Projects a {
  max-height: calc(var(--img-height-pr) + 54px);
  position: relative;
}
.Projects .title-img {
  position: relative;
  top: -2.6rem;
  left: 0;
  text-align: center;
}

.Projects a:hover {
  transform: rotate(-6deg);
  opacity: 1;
}

.Projects p {
  text-align: justify;
}

.Projects h4 {
  font-family: var(--font-text);
  line-height: 1.3rem;
  text-transform: capitalize;
}
