.Footer {
  padding-bottom: 30px;
  align-items: center;
}

.Footer .social-footer {
  width: 100%;
  justify-content: space-between;
}
.Footer .social-footer .gr-icon {
  margin: 0 0.5rem;
  align-items: center;
}
.Footer a {
  transition: all 120ms ease-in-out;
}
.Footer .social-footer .gr-icon a:hover {
  transform: rotate(16deg);
}
.Footer .social-footer .gr-icon:nth-child(2) a:hover {
  transform: rotate(-16deg);
}
.Footer .email-link {
  margin-top: 1.6rem;
  font-family: var(--font-headers);
  font-size: 1rem;
  color: var(--primary-color);
}
.Footer .email-link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.Footer .flex-column .gr-icon {
  margin-top: 20px;
}
