.ImgStyle {
  border-radius: 2px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portrait {
  padding: 10px 10px 44px 10px;
  background-color: #f8f8fe;
  box-shadow: 5px 5px 12px #14154360;
}
.profile-img {
  height: 190px;
}
.prj-img {
  height: var(--img-height-pr);
}
.footer-icon {
  width: auto;
  height: 23px;
}
.contact-icon {
  width: auto;
  height: 28px;
}
