.ImgStyle {
  border-radius: 2px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portrait {
  padding: 10px 10px 44px 10px;
  background-color: #f8f8fe;
  box-shadow: var(--shadow);
}
.profile-img {
  height: var(--profile-height-img);
}
.prj-img {
  height: var(--prj-height-img);
}
.footer-icon {
  width: auto;
  height: 23px;
}
.contact-icon {
  width: auto;
  height: 28px;
}
