.ImgStyle {
  border-radius: 2px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portrait {
  padding: 10px 10px 44px 10px;
  background-color: var(--fifth-color);
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.239);
}
.profile-img {
  height: 190px;
}
.prj-img {
  height: var(--img-height-pr);
}
.footer-icon {
  width: auto;
  height: 23px;
}
.contact-icon {
  width: auto;
  height: 28px;
}
