.Navbar {
  position: sticky;
  top: 0;
  padding: 12px 20px;
  background-color: var(--secundary-color);
  margin-bottom: 16px;
  z-index: 1;
}
.Navbar strong {
  text-transform: lowercase;
  color: var(--third-color);
}
.Navbar .menu-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.2em;
  width: 1.6em;
  cursor: pointer;
}
.Navbar .menu-icon span {
  background-color: var(--third-color);
  height: 2.8px;
  width: 100%;
  border-radius: 2px;
}
.Navbar .menu-icon-cl {
  z-index: 2;
}
.Navbar .menu-icon-cl span {
  background-color: var(--secundary-color);
}

.Navbar .menu-icon-cl span:first-child {
  display: none;
}
.Navbar .menu-icon-cl span:nth-child(2) {
  transform: translate(0, 225%) rotate(45deg);
}
.Navbar .menu-icon-cl span:last-child {
  transform: translate(0, -225%) rotate(-45deg);
}
.Navbar .d-none {
  display: none;
}
.Navbar .menu-group {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1415435d;
  height: 100vh;
  width: 100%;
}
.Navbar .menu-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(12deg);
  background-color: var(--secundary-color);
  box-shadow: var(--shadow);
  width: 260px;
  height: 260px;
}
.Navbar .menu-group ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  transform: rotate(-12deg);
  line-height: 4rem;
}
.Navbar .menu-link a {
  font-family: var(--font-headers);
  font-size: 1.8rem;
  color: var(--fourth-color);
}
.Navbar .menu-link a:hover {
  color: var(--third-color);
  opacity: 1;
}
