* {
  margin: 0;
}

:root {
  --font-headers: "Swanky and Moo Moo", cursive;
  --font-text: "Albert Sans", sans-serif;
  --primary-color: #07393c;
  --secundary-color: #2c666e;
  --third-color: #90ddf0;
  --fourth-color: #0a090c;
  --fifth-color: #f0edee;
}

.App {
  background-color: var(--third-color);
  font-family: var(--font-text);
  min-height: 100vh;
  font-size: 13px;
}
.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.App a {
  text-decoration: none;
  color: var(--fourth-color);
}
.App h1,
h2,
h3,
h4 {
  font-family: var(--font-headers);
}
.App h2 {
  font-size: 1.8rem;
}
.App h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.App h4 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.App p {
  line-height: 1.1rem;
}
.App .flex-row {
  display: flex;
  flex-direction: row;
}
.App .flex-column {
  display: flex;
  flex-direction: column;
}
.App .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px 0px;
  grid-auto-rows: auto;
}
.App .grid-full {
  grid-column: 1/ 7;
  grid-row: auto;
}
