* {
  margin: 0;
}

:root {
  --font-headers: "Swanky and Moo Moo", cursive;
  --font-text: "Albert Sans", sans-serif;
  --primary-color: #141543;
  --secundary-color: #e5e6ff;
  --third-color: #4f50b1;
  --fourth-color: #ab2256;
  --img-height-pr: 140px;
  --shadow: 5px 5px 12px #14154360;
}

.App {
  background-color: var(--secundary-color);
  font-family: var(--font-text);
  color: var(--primary-color);

  min-height: 100vh;
  font-size: 12px;
}
.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.App a {
  text-decoration: none;
  color: var(--fourth-color);
  transition: all 150ms ease-in-out;
}
.App a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.App h1,
h2,
h3,
h4 {
  font-family: var(--font-headers);
}

.App h2 {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.App .title-img {
  color: var(--fourth-color);
}
.App h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}
.App h4 {
  font-size: 1em;
  line-height: 1rem;
}
.App p {
  line-height: 1rem;
}
.App .flex-row {
  display: flex;
  flex-direction: row;
}
.App .flex-column {
  display: flex;
  flex-direction: column;
}
.App .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: auto;
  margin-bottom: 2.8rem;
}
.App .grid-full {
  grid-column: 1/ 4;
  grid-row: auto;
}
.App .grid-img {
  grid-column: 2/ 4;
  grid-row: 1 / 4;
}
.App .footer {
  font-size: 8px;
  padding: 0.3rem 0.6rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secundary-color);
}
.App .footer a {
  color: var(--fourth-color);
}
