* {
  margin: 0;
}

:root {
  --font-headers: "Swanky and Moo Moo", cursive;
  --font-text: "Albert Sans", sans-serif;
  --primary-color: #002d54;
  --secundary-color: #eef5ff;
  --third-color: #4c70ad;
  --fourth-color: #b24d7a;
  --prj-height-img: 140px;
  --profile-height-img: 190px;
  --shadow: 5px 5px 12px #14154360;
}

.App {
  background-color: var(--secundary-color);
  font-family: var(--font-text);
  color: var(--primary-color);
  font-size: 12px;
  min-height: 100vh;
}
.App .Layout main {
  width: min(calc(100% - 40px), 46rem);
  margin: 0 auto;
}
.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.App a {
  text-decoration: none;
  color: var(--fourth-color);
  transition: all 150ms ease-in-out;
}
.App a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.App h1,
h2,
h3,
h4 {
  font-family: var(--font-headers);
}

.App h2 {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.App .title-img {
  position: relative;
  top: -2.6rem;
  left: 0;
  text-align: center;
  color: var(--fourth-color);
}
.App h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}
.App h4 {
  font-size: 1em;
  line-height: 1rem;
}
.App p {
  line-height: 1rem;
}
.App .flex-row {
  display: flex;
  flex-direction: row;
}
.App .flex-column {
  display: flex;
  flex-direction: column;
}
.App .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: auto;
  margin-bottom: 2rem;
}
.App .grid-content {
  grid-column: 1/ 4;
  grid-row: auto;
}

.App .footer {
  font-size: 8px;
  padding: 0.3rem 0.6rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secundary-color);
}
.App .footer a {
  color: var(--fourth-color);
}

@media (min-width: 768px) {
  :root {
    --prj-height-img: 140px;
    --profile-height-img: 250px;
  }
  .App .wrapper {
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem 3rem;
  }
}
